<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h3>회원 정보 수정</h3>
    </div>
    <form role="form" th:object="${userAccount}" th:action="@{/members/{loginId}/edit(loginId = ${userAccount.loginId})}" th:method="article">
        <div>
            <label for="loginId">아이디</label>
            <input id="loginId" class="form-control" th:value="${userId}" th:placeholder="${userId}" disabled />
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" th:field="*{nickname}"
                   th:errorclass="field-error"
                   class="form-control" placeholder="닉네임을 입력해주세요" />
            <div th:errors="*{nickname}" class="field-error">닉네임 오류</div>
        </div>
    </form>
    <div class="row mt-3">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" id="update-userAccount">수정</button>
        </div>
        <div class="col">
            <a class="w-100 btn btn-secondary btn-lg" th:href="|@{/members/{loginId}/myPage(loginId = ${userAccount.loginId})}|"
               type="button">취소</a>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/userAccount.js"></script>
</div>
</body>
</html>