<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h3>게시물 등록</h3>
    </div>
    <form role="form" action="/posts/new" th:object="${postForm}" method="article">
        <div class="m-1">
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="제목을 입력해주세요" required/>
        </div>
        <div class="m-1">
            <label for="content">내용</label>
            <textarea type="text"
                      id="content" th:field="*{content}" class="form-control" placeholder="내용을 입력해주세요" required/>
        </div>
    </form>
    <div>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary"
                id="btn-save">등록</button>
    </div>
    <footer th:replace="fragments/footer :: footer" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/article.js"></script>
</div>  <!-- container -->
</body>
</html>