<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="container">
    <div class="py-5 title">
        <h3>게시판</h3>
    </div>


    <div th:object="${postInfo}">
        <div class="row mb-4">
            <div class="collapse">
                <label for="id"></label>
                <input th:value="*{postId}" id="id" readonly />
            </div>
            <div class="col">
                제목: <span th:text="*{title}"></span>
            </div>
            <div class="col">
                작성자: <span th:text="*{postMemberInfo.nickname}" id="nickname"></span>
            </div>
        </div>
        <div>
            내용: <span th:text="*{content}"></span>
        </div>
    </div>

    <div class="modal-content mt-4">
        <div class="card card-body">
            <!-- 댓글 작성 -->
            <form>
                <div class="row reply_write">
                    <div class="col-8">
                        <label for="content"></label>
                        <input class="w-100 form-control mb-1" id="content"
                               type="text" placeholder="댓글입력...">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-success mb-1" id="write-reply">댓글&nbsp;달기</button>
                    </div>
                </div>
            </form>
            <!-- 댓글 목록 -->
            <div class="reply-list">
                <ul th:each="reply : ${replies}">
                    <span th:text="${reply.content}"></span>
                    <span th:text="${reply.updatedTime}"></span>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        <a th:href="|@{/posts/{postId}/edit(postId = ${postInfo.postId})}|"
                role="button" class="col btn btn-primary w-100 m-3">게시글 수정하기</a>
        <button class="col btn btn-danger w-100 m-3" id="btn-delete">삭제</button>
        <a href="/"
                role="button" class="col btn btn-secondary w-100 m-3">홈으로</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/post.js"></script>
<script src="/js/reply.js"></script>
</body>
</html>