<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="page-nav" class="text-center">
    <ul class="pagination"
        th:with="start=${T(Math).floor(postPage.number/10)*10 + 1},last=(${start + 9 < postPage.totalPages ? start + 9 : postPage.totalPages})">
        <li class="page-item">
            <a class="page-link" th:href="@{/(page=1)}" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>

        <li class="page-item" th:class="${postPage.first} ? 'disabled'">
            <a class="page-link" th:href="${postPage.first} ? '#' :@{/(page=${postPage.number})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>

        <li th:if="${last == 0}">
            <a class="page-link" th:text="1"></a>
        </li>

        <li th:unless="${last==0}" class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == postPage.number + 1} ? 'active'">
            <a class="page-link" th:text="${page}" th:href="@{/(page=${page})}"></a>
        </li>

        <li class="page-item" th:class="${postPage.last} ? 'disabled'">
            <a class="page-link" th:href="${postPage.last} ? '#' : @{/(page=${postPage.number + 2})}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>

        <li class="page-item">
            <a class="page-link" th:href="@{/(page=${postPage.totalPages})}" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</nav>
</html>