<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="page-nav-articleComment" class="text-center" style="display:inline-block;">
    <ul class="pagination"
        th:with="start=${T(Math).floor(replies.number/10)*10 + 1},last=(${start + 9 < replies.totalPages ? start + 9 : replies.totalPages})">
        <li class="page-item">
            <a class="page-link" th:href="@{/posts/{id} (id = ${postInfo.postId}, page=1)}" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>

        <li class="page-item" th:class="${replies.first} ? 'disabled'">
            <a class="page-link" th:href="${replies.first} ? '#' :@{/posts/{id} (id = ${postInfo.postId}, page=${replies.number})}" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>

        <li th:if="${last == 0}">
            <a class="page-link" th:text="1"></a>
        </li>

        <li th:unless="${last==0}" class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == replies.number + 1} ? 'active'">
            <a class="page-link" th:text="${page}" th:href="@{/posts/{id} (id = ${postInfo.postId}, page=${page})}"></a>
        </li>

        <li class="page-item" th:class="${replies.last} ? 'disabled'">
            <a class="page-link" th:href="${replies.last} ? '#' : @{/posts/{id} (id = ${postInfo.postId}, page=${replies.number + 2})}" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>

        <li class="page-item">
            <a class="page-link" th:href="@{/posts/{id} (id = ${postInfo.postId}, page=${replies.totalPages})}" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</nav>
</html>