<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h3>게시판</h3>
    </div>

    <div class="rightContainer justify-content-end">
        <div th:unless="${#request.getSession(false)}">
            <a class="btn btn-primary float-end mx-lg-2" href="/members/new">회원 가입</a>
            <a class="btn btn-primary float-end mx-lg-2" href="/login">로그인</a>
        </div>
        <div th:if="${#request.getSession(false)}">
            <a class="btn btn-primary float-end mx-lg-2" th:href="@{members/{loginId}/myPage(loginId = ${member.loginId})}">마이 페이지</a>
            <form action="/logout" method="post">
                <button class="btn btn-primary float-end mx-lg-2">로그아웃</button>
            </form>
        </div>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="w-50 text-center" scope="col">제목</th>
                    <th scope="col">등록날짜</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="post : ${posts}">
                    <tr>
                        <td><a th:href="|/posts/${post.postId}|" th:text="${post.postId}"></a></td>

                        <td class="text-center"><a th:href="|/posts/${post.postId}|" th:text="${post.title}"></a></td>

                        <td><a th:href="|/posts/${post.postId}|"  th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm:ss')}"></a></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>

    <div class="m-auto">
        <a class="btn btn-secondary float-end" href="posts/new">게시판 등록</a>
    </div>

    <nav th:replace="fragments/navigationbar :: page-nav"></nav>

    <footer th:replace="fragments/footer :: footer" />
</div><!-- container -->

</body>
</html>