<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments/header :: header">
    <meta charset="UTF-8">
    <title>마이 페이지</title>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h3>마이 페이지</h3>
    </div>

    <div>
        <h5 class="py-3">
            로그인 아이디: <span th:text="${member.loginId}"></span><br/>
            닉네임: <span th:text="${member.nickname}"></span>
        </h5>
    </div>

    <div>
        <div class="row mb-4">
            <div class="col">
                <a type="submit" class="w-100 btn btn-primary" th:href="@{/members/{loginId}/edit(loginId = ${member.loginId})}">내 정보 수정하기</a>
            </div>
            <div class="col">
                <button type="button" class="w-100 btn btn-secondary" th:onclick="|location.href='@{/}'|">홈으로</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <button class="w-100 btn btn-outline-primary btn-lg" onclick="location.href='createPasswordEditForm.html'"
                        th:onclick="|location.href='@{/members/{loginId}/edit/password(loginId = ${member.loginId})}'|">비밀번호 수정</button>
            </div>
        </div>
    </div>
    
    <footer th:replace="fragments/footer :: footer" />
</div>
</body>
</html>